<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/delete.css">
</head>

<body>
    <header>
        <h1>Delete Tab Page</h1>
        <h4>Admin login</h4>
    </header>
    <main>
        <form action="/tab" method="POST">
            <h2>Delete Guitar Tab Record</h2>
            Title: <input type="text" name="tabTitle" value="<%= tab.tabTitle %>"/><br><br>
            Artist: <input type="text" name="artist" value="<%= tab.artist %>"/><br><br>
            Difficulty: <input type="text" name="difficulty" value="<%= tab.difficulty %>"/><br><br>
            Genre: <input type="text" name="genre" value="<%= tab.genre %>"/><br><br>
            Rating: <input type="text" name="rating" value="<%= tab.rating %>"/><br><br>
            Tuning: <input type="text" name="tuning" value="<%= tab.tuning %>"/><br><br>
            Source: <input type="text" name="tabSource" value="<%= tab.tabSource %>"/><br><br>
            Tab File: <input type="text" name="tabSource" value="<%= tab.tabURL %>"/>
            <br><br><br><br>
            <input type="submit" name="" value="Delete Guitar Tab"/>
            <br><br>
        </form>
    </main>
    <footer>
        <br><br>
        <a href="/">Main Page</a>
    </footer>
</body>


</html>