<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <h1>Edit Page</h1>
        <h4>Admin login</h4>
    </header>
    <main>
        <div id="currentRecord">
            <h2>Current Guitar Tab Record</h2>
            Title: <%= tab.tabTitle %><br><br>
            Artist: <%= tab.Artist.artistName %><br><br>
            Current Difficulty: <%= tab.difficulty %><br><br>
            Current Genre: <%= tab.genre %><br><br>
            Current Rating: <%= tab.rating %><br><br>
            Tuning: <%= tab.Tuning.tuningName %><br><br>
            Source: <%= tab.tabSource %><br><br>
            Tab File: <%= tab.tabURL %>

            <br><br><br><br>
            <hr style="width: 300px">
            <br>
            <h2>Add Artist</h2>
            <form action="/tabs/<%= artists.id %>?_method=PUT" method="POST">
                Artist Name: <input type="text" name="artistName" size="60"/>
                <br><br>
                <input type="submit" name="" value="Update Artist Name"/>
                <br><br>
            </form>
        </div>
        <div id="updatedRecord">
        <form action="/tabs/<%= tab.id %>?_method=PUT" method="POST">
            <h2>Updated Guitar Tab Record</h2>
            Title: <input type="text" name="tabTitle" value="<%= tab.tabTitle %>"/><br><br>
            Artist: <select name="artist" id="artist">
                <% for(let i=0; i <artists.length; i++) { %>
                <option value="<%= artists[i].id %>"><%= artists[i].artistName %></option>
                <% } %>
            </select><br><br>
            <label for="difficulty">Difficulty:</label>
            <select name="difficulty" id="difficulty"value=" <%= tab.difficulty %>">
                <option value="Easy">Easy</option>
                <option value="Moderate">Moderate</option>
                <option value="Difficult">Difficult</option>
            </select>
            <br><br>

            <label for="genre">Genre:</label>
            <select name="genre" id="genre">
                <option value="Pop">Pop</option>
                <option value="Folk/Traditional">Folk/Traditional</option>
                <option value="Rock">Rock</option>                
                <option value="Country">Country</option>
                <option value="Easy Listening">Easy Listening</option>
                <option value="Holiday">Holiday</option>                
            </select>
            <br><br>

            <label for="rating">Rating</label>
            <select name="rating" id="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <br><br>
                
            Tuning: <select name="tuning" id="tuning">
                <% for(let i=0; i <tunings.length; i++) { %>
                <option value="<%= tunings[i].id %>"><%= tunings[i].tuningName %></option>
                <% } %>
            </select><br><br>
            Source: <input type="text" name="tabSource" value="<%= tab.tabSource %>" size="75"/><br><br>
            Tab File: <input type="text" name="tabURL" value="<%= tab.tabURL %>" size="50"/>
            <br><br>
            <input type="submit" name="" value="Update Guitar Tab"/>
            <br><br>
        </form>
    </div>
    </main>
    <footer>
        <br><br>
        <a href="/">Go to Main Page</a>
        <br><br>
    </footer>
</body>


</html>