<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header>
        <h1>Welcome to Jay's Fabulous Guitar Tab Database Application</h1>

    </header>
    <main>
        <div id="searchCriteria">
            <h2>Search Tabs by:</h><br><br>

        <form action="/tabs/search" method="POST">                
            <label for="tabTitle">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTitle</label>
            <select class="dropdown" name="tabTitle" id="tabTitle">
                <option value=""></option>
                <% for(let i=0; i <tabs.length; i++) { %>
                    <option value="tabTitle"><%= tabs[i].tabTitle %></option>
                <% } %>
            </select>
            <br>
            <label for="artist">&nbsp&nbsp&nbsp&nbsp&nbspArtist</label>
            <select class="dropdown" name="artist" id="artist">
                <option value=""></option>
                <% for(let i=0; i <artists.length; i++) { %>
                <option value="artist"><%= artists[i].artistName %></option>
                <% } %>
            </select>
            <br>
            <label for="difficulty">Difficulty</label>
            <select class="dropdown" name="difficulty" id="difficulty">
                <option value=""></option>
                <option value="Easy">Easy</option>
                <option value="Moderate">Moderate</option>
                <option value="Difficult">Difficult</option>
            </select>
            <br>
            <label for="genre">&nbsp&nbsp&nbsp&nbsp&nbspGenre</label>
            <select class="dropdown" name="genre" id="genre">
                <option value=""></option>
                <option value="Pop">Pop</option>
                <option value="Folk/Traditional">Folk/Traditional</option>
                <option value="Rock">Rock</option>                
                <option value="Country">Country</option>
                <option value="Easy Listening">Easy Listening</option>
                <option value="Holiday">Holiday</option>                
            </select>
            <br>
            <label for="rating">&nbsp&nbsp&nbsp&nbspRating</label>
            <select class="dropdown" name="rating" id="rating">
                <option value=""></option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <br>
            <label for="tuning">&nbsp&nbsp&nbsp&nbspTuning</label>
            <select class="dropdown" name="tuning" id="tuning">
                <option value=""></option>
                <% for(let i=0; i <tunings.length; i++) { %>
                <option value="tuning"><%= tunings[i].tuningName %></option>
                <% } %>
            </select>
            <br>
            <input type="submit" value="Search"/>
        </form>
        </div>

        <div id="searchResults">
            <h2>Search Results</h2>
            <div id="resultsList">
               <ul>
                   <% for(let i=0; i <tabs.length; i++) { %>
                       <% let j = tabs[i].artist; %>
                            <% let k = tabs[i].tuning - 1; %>
                        <li>
                            <a href="/tabs/<%= tabs[i].id %>">
                                <%= tabs[i].tabTitle %> | <%= artist[j].artistName  %> | <%= tabs[i].difficulty %> | <%= tabs[i].genre %> | <%= tabs[i].rating %> | <%= tunings[k].tuningName %>
                            </a>
                        </li>                        
                    <% } %>
                </ul>
            </div>
            <form action="/" method="GET"> 
                <input type="submit" value="Reload List"/>
            </form>
        </main>
        </div>
        <br><br>
    <footer>
        <a href="/tabs/new">New Tab Page</a>
        <br><br>
    </footer>
</body>

</html>