<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/showTab.css">
</head>
<body>
    <header>
        <h1>Show selected tab</h1>
        <h2><%=tab.tabTitle%></h2>
        <p>(<%=tab.difficulty%>)<p>
    </header>
    <main>
        <div id="displayTab">
            <iframe
                src="<%= tab.tabURL %>" width="100%" height="600px">
            </iframe>
        </div>
        <div id="sidebar">
            <h3>Tuning</h3>
            <p><%= tab.Tuning.tuningName %></p>
            <img id="tuningImage" src="<%=tab.Tuning.tuningURL%>">
            <br><br>
            <a href="http://chordfind.com/" target="_blank">ChordFind</a>
            <br><br>           
            <div id="detail">
                <h5>Artist: </h5>
                <p><%= tab.Artist.artistName %></p>
                <h5>Tab Source:</h5>
                <p><%= tab.tabSource %></p>
            </div>
            <br><br>
            <a href="/">Main Page</a>
            <br><br> 
        </div>
    </main>
    <footer>        
        <br><br>
        <div id="CRUD">
            <ul>
                <li><a href="/tabs/new">New Tab Page</a></li>
                <li><a href="/tabs/<%= tab.id %>/edit">Edit Tab Page</a></li>
                <li><a href="/tabs/<%= tab.id %>/delete">Delete Tab Page</a></li>
            </ul>
        </div>
        <br><br>
    </footer>
    <br><br>
</body>
</html>